<!doctype html>
<html>

    <% include ./partials/head %>

    <body>
        <% include ./partials/navigation %>

        <div class="container content">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-4">
                        <p><%= polldetail.name %></p>
                        <form id="pollVote">
                            <div class="form-group">
                                <label for="pollchoices">I would like to vote for...</label><br>
                                <select class="pollChoices" required>
                                    <option value="">Choose an option...</option>
                                    <% for (var i = 0; i < polldetail.choices.length; i++){ %>
                                    <option value="<%= i %>"><%= polldetail.choices[i] %>
                                    <% } %>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block">Vote</button><br />
                            <a href="#" onclick="javascript:window.location='https://twitter.com/intent/tweet?url=' + window.location.href + '&text=check out my poll';" class="btn btn-block btn-lg twitterButton"><i class="fa fa-twitter"></i> Share on Twitter</a>
                        </form>
                    </div>
                    <div class="col-xs-8">
                        <canvas id="pollChart"></canvas>
                        <% if (user) { %>
                            <button class="btn btn-lg btn-danger btn-block" onclick="deletePoll('<%= polldetail._id %>')">Delete Poll</button>
                        <% } %>
                     </div>
                </div>
            </div>


        </div>

        <% include ./partials/scripts %>


        <script>
            var ch = <%- JSON.stringify(polldetail) %>;
            var config = {
                type: 'doughnut',
                data: {
                    labels: ch.choices,
                    datasets: [
                        {
                            data: ch.votes,
                            backgroundColor: bgrndColor
                        }
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                        text: ch.name
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('pollChart').getContext('2d');
                window.myDoughnut = new Chart(ctx, config);
            };


            var thisURL = "https://twitter.com/intent/tweet?url=" + window.location.href + "&text=check out my poll";

            $('#pollVote').submit(function(event){
                event.preventDefault();

                var entry = {};
                entry.itemNum = $('.pollChoices').find(":selected").val();
                entry.id = '<%= polldetail._id %>';

                $.ajax({
                           method:     'POST',
                           url:        '/pollvote/',
                           data:       entry,
                           success:    function(data) {
                                alert('Your vote has been recorded!');
                           },
                           error:      function(data) {
                                alert('There was an error in recording your vote. Please try again.');
                           }
               });
            });

            function deletePoll(whichPoll) {
                console.log('deletePoll', whichPoll);

                $.ajax({
                           method:     'DELETE',
                           url:        '/deletepoll/' + whichPoll,
                           data:       {poll: whichPoll},
                           success:    function(data) {
                               alert('Poll has been successfully deleted.');
                               window.location = '/profile';
                           },
                           error:      function(data) {
                               alert('There was an error in deleting poll. Please try again.');
                           }
                       });
            };
        </script>
    </body>
</html>